<div class="userDetails">
    <h2>User details</h2>
  
    <table>
      <tr>
        <td>User Id</td>
        <td>{{user.id}}</td>
      </tr>
      <tr>
        <td>Name</td>
        <td>{{user.name}}</td>
      </tr>
      <tr>
        <td>Username</td>
        <td>{{user.username}}</td>
      </tr>
      <tr>
        <td>Eamil</td>
        <td>{{user.email}}</td>
      </tr>
      <tr>
        <td>Address</td>
        <td>{{user.address}}</td>
      </tr>
      
  
    </table>
    <br>
    <a class="btn btn-small btn-danger" (click)="deleteUser()"> delete</a>
  </div>