<nav class="navbar navbar-expand-lg py-3 navbar-dark bg-dark shadow-sm">
    <div class="container">
      <a href="#" class="navbar-brand">
        <!-- Logo Image -->
        <img src="../../assets/logo.png" height="60px" width="100px" alt="" class="d-inline-block align-middle mr-2">
        <!-- Logo Text -->
        </a>
  
      <button type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"><span class="navbar-toggler-icon"></span></button>
  
      <div id="navbarSupportedContent" class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
            <ul class="navbar-nav m-auto">
                <li class="nav-item">
                    <a class="nav-link" href="category.html">Categories</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="product.html">Products</a>
                </li>
                <!-- <li class="nav-item active">
                    <a class="nav-link" href="contact.html">Cart <span class="sr-only">(current)</span></a>
                </li> -->
                <!-- <li class="nav-item">
                    <a class="nav-link" href="contact.html">Contact</a>
                </li> -->
            </ul>
            <li class="nav-item active"><a href="" class="nav-link">Home <span class="sr-only">(current)</span></a></li>
            <!-- <li class="nav-item"><a *ngIf="!authSrv.isUserLoggedIn()"routerLink="Auth/login" class="nav-link">Login</a></li>
           <li class="nav-item"><a  *ngIf="!authSrv.isUserLoggedIn()" routerLink="Auth/register" class="nav-link">Register</a></li> -->
           <li class="nav-item"><a  routerLink="/home" class="nav-link">Logout</a></li>
           <li class="nav-item dropdown">
           <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Admin
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a  routerLink="/admin/users">Users</a>
                <div>
                    <a routerLink="/admin/medicines">Medicines Stock</a>
                </div>
                <a routerLink="/admin/medicines">Orders</a>
                
            </div>
        </li>

        </ul>
        <form class="form-inline my-2 my-lg-0">
            <!-- <div class="input-group input-group-sm">
                <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" placeholder="Search...">
                <div class="input-group-append">
                    <button type="button" class="btn btn-secondary btn-number">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </div> -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                     aria-haspopup="true" aria-expanded="false">
                     Admin
                 </a>
                 <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                     <a  routerLink="/admin/users">Users</a>
                     <div>
                         <a routerLink="/admin/medicines">Medicines Stock</a>
                     </div>
                     <a routerLink="/admin/medicines">Orders</a>
                     
                 </div>
            <a class="btn btn-success btn-sm ml-3" href="cart.html">
                <i class="fa fa-shopping-cart"></i> Cart
                <span class="badge badge-light">0</span>
            </a>
        </form>
      </div>
    </div>
  </nav>
