<h1>Medicines List!</h1>
<a class="btn btn-primary mb-3" (click)="addMedicine()">Add New Medicine</a>

<div class="container row">
    <div class="col-md-6">
      <table class="table">
        <thead>
          <tr>
            <th>Id</th>
            <th>Name</th>
            <th>description</th>
            <th>Uses</th>
            <th>Price in Rs</th>
            <th>Expiry Date</th>
            <th>Created Date</th>
            <th>Company Name</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let med of medicines">
            <td>{{med.id}}</td>
            <td>{{med.name}}</td>
            <td>{{med.description}}</td>
            <td>{{med.uses}}</td>
            <td>{{med.price}}</td>
            <td>{{med.expDate}}</td>
            <td>{{med.createDate}}</td>
            <td>{{med.companyName}}</td>
            <td>
              <button type="button" class="btn btn-primary">Show Details</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-6">
      <app-addmedicine *ngIf="action === 'add'" [medicine]="selectedMedicine" (medicineAddedEvent)=refreshData()></app-addmedicine>
      </div>
    </div>
