<div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
  
      <!-- Icon -->
      <!--<div class="fadeIn first">-->
      <!--  <img src="http://danielzawadzki.com/codepen/01/icon.svg" id="icon" alt="User Icon" />-->
      <!--</div>-->
  
      <!-- Login Form -->
      <form  loginForm="ngForm" (ngSubmit)="onSubmit()">
        <input type="text" id="username" class="fadeIn second" name="username" placeholder="username">
        <input type="text" id="password" class="fadeIn third" name="login" placeholder="password">
        <!-- <input (click)="onSubmit()" class="fadeIn fourth" value="Login"> -->
        <button type="button"(click)="onSubmit" routerLink="/Products/productlist" class="btn btn-primary">Login</button>
      </form>
  
      <!-- Remind Passowrd -->
      <div id="formFooter">
        <a class="underlineHover" href="#">Forgot Password?</a>
      </div>
  
    </div>
  </div>