.flight-engine {
    position: relative;
    /* size: 990; */
    left: 0px;
    right: 0px;
    padding: 20px;
    z-index: 999;
    height: 600px;
    background:url("../../assets/homepage5.jpg") no-repeat center local;
    -webkit-background-size: height 600px;
    -moz-background-size: relative;
 background-size:cover;
  /* -o-background-size:cover; */
}

/* .flight-engine[_ngcontent-jnp-c18] {
    height: 600px !important;
    position: relative;
    size: 990;
    left: 0px;
    right: 0px;
    padding: 20px;
      
} */
.tab1.active {
    display: block
}
.tab1 {
    display: none
}
.tabing {
    float: right;
    width: 100%;
        /* background: white; */
    padding: 0 10px 10px 10px;
    color: #fff;
    padding-top: 200px;
}
.tabing ul {
    margin: 0px;
    padding: 100px;
    list-style: none;
    width: 100%;
    float: center;
}
.tabing ul li {
    float: center;
}
.tabing ul li a {
    display:flex;
    padding: 5px;
    text-decoration: none;
    color: #fff;
    background: rgb(86, 94, 98);
    margin: 0 10px 0 0;
    padding: 5px 10px 5px 10px;
    border-radius: 0px 0px 5px 5px;
    font-size: 16px;
    text-align: left;
}
.tabing ul li a.active {
    background: #ba0400
}
.flight-tab {
    width: 100%;
    float: left;
/* margin-top: 10px; */
    padding: 15px
}
.flight-tab .textboxstyle {
    width: 150%;
    float: center;
    color: #191919;
    padding: 8px 10px 8px 35px;
    border: none;
    border-radius: 3px;
    background: #f5f5f5;
    font-size: 14px;
    line-height: 20px;
}
.persent-one {
    width: 19%;
    float: left;
    margin-right: 1%;
    position: relative;
    /* margin-bottom: 10px; */
}
.persent-one i {
    position: absolute;
    left: 10px;
    top: 10px;
    color: #191919;
    font-size: 18px;
}
.persent-one.less-per {
    width: 16%;
    float: left;
    margin-right: 1%;
}
.persent-one.less-btn {
    width: 5%;
    float: left;
    margin-right: 1%;
}
.persent-one.less-btn .cst-btn {
    width: 85px;
    height: 85px;
    border-radius: 100%;
    position: relative;
    top: -32px;
}
.form-inline .mr-auto .mb-4{
    width: 1500%;
    position: relative;
}
.mb-4, .my-4 {
    margin-bottom: 1.5rem!important;
    /* width: fit-content; */
    margin-left: 150px;
    margin-right: 700px;


}
.form-control {
   display: inline !important;
   widows: 100%;
    padding: .375rem .75rem;
    font-size: 20px;
    line-height: 2;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #083969;
    border-radius: 10rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  
}

.btn-group-sm>.btn, .btn-sm {
    padding: .25rem .1rem;
    font-size:18px;
    line-height: 4;
    border-radius: 0.5rem;
    border-radius: 3.5rem;
    width: 10%;
    background-color: #083969;
    color: white;
}