


<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="flight-engine">
               <div class="container">
                  <div class="tabing">
                     <!-- <ul>
                        <li><a class="active" href="#1"><i class="fa fa-plane" aria-hidden="true"></i> Flight</a>
                        </li>
                         <li><a  href="#2"><i class="fa fa-plane" aria-hidden="true"></i> Flight</a>
                        </li>
                     </ul> -->
                     <div class="tab-content">
                        <div id="1" class="tab1 active">
                           <!-- <div class="flight-tab row">
                            <div class="col-md-6 mb-4"> -->

                                <form class="form-inline mr-auto mb-4">
                                  <input class="form-control mr-sm-2" matInput type="text" placeholder="Search for Medicines"  size="50" height="80"  aria-label="Search">
                                  <button class="btn btn-indigo btn-rounded btn-sm my-0 waves-effect waves-light" routerLink="Search" type="submit">Search</button>
                                </form>
                        
                              <!-- </div> -->
                              <!-- <div class="persent-one">
                                 <i class="fa fa-map-marker" aria-hidden="true"></i>
                                 <input type="text" name="dep" class="textboxstyle" id="dep" placeholder="Search for Medicines">
                              </div> -->
                              <!-- <div class="persent-one">
                                 <i class="fa fa-map-marker" aria-hidden="true"></i>
                                 <input type="text" name="dep" class="textboxstyle" id="arival" placeholder="To City or airport">
                              </div> -->
                              <!-- <div class="persent-one less-per">
                                 <i class="fa fa-calendar" aria-hidden="true"></i>
                                 <input type="text" name="dep" class="textboxstyle" id="from-date1" placeholder="Depart">
                              </div> -->
                              <!-- <div class="persent-one less-per">
                                 <i class="fa fa-calendar" aria-hidden="true"></i>
                                 <input type="text" name="dep" class="textboxstyle" id="to-date" placeholder="Returrn">
                              </div>
                              <div class="persent-one">
                                 <i class="fa fa-user" aria-hidden="true"></i>
                                 <div class="textboxstyle" id="passenger">01 Passenger</div>
                              </div> -->
                              <!-- <div class="persent-one less-btn">
                                 <input type="Submit" name="submit" value="Search" class="btn btn-info cst-btn" id="srch">
                              </div> -->
                           <!-- </div> -->
                           <!-- flight tab -->
                        </div>
                        <!-- tab 1 -->
                         <div id="2" class="tab1">
                           <div class="flight-tab row">
                              <div class="persent-one">
                                 <i class="fa fa-map-marker" aria-hidden="true"></i>
                                 <input type="text" name="dep" class="textboxstyle" id="dep" placeholder="From City or airport">
                              </div>
                              <div class="persent-one">
                                 <i class="fa fa-map-marker" aria-hidden="true"></i>
                                 <input type="text" name="dep" class="textboxstyle" id="arival" placeholder="To City or airport">
                              </div>
                              <div class="persent-one less-per">
                                 <i class="fa fa-calendar" aria-hidden="true"></i>
                                 <input type="text" name="dep" class="textboxstyle" id="from-date1" placeholder="Depart">
                              </div>
                              <div class="persent-one less-per">
                                 <i class="fa fa-calendar" aria-hidden="true"></i>
                                 <input type="text" name="dep" class="textboxstyle" id="to-date" placeholder="Returrn">
                              </div>
                              <div class="persent-one">
                                 <i class="fa fa-user" aria-hidden="true"></i>
                                 <div class="textboxstyle" id="passenger">01 Passenger</div>
                              </div>
                              <div class="persent-one less-btn">
                                 <input type="Submit" name="submit" value="Search" class="btn btn-info cst-btn" id="srch">
                              </div>
                           </div>
                           <!-- flight tab -->
                        </div>
                        <!-- tab 1 -->
                     </div>
                     </div>
                     <!-- tab content -->
                  </div>
