<h1>Add Medicines</h1>

<form>
  <label for="name">Name</label>
  <input type="text" class="form-control" id="name" placeholder="medicines Name"  name="name" [(ngModel)]="medicines.name">

  <label for="description">Description</label>
  <input type="text" class="form-control" id="description" placeholder="description" name="description" [(ngModel)]="medicines.description">

  <label for="uses">Uses</label>
  <input type="text" class="form-control" id="uses" placeholder="uses" name="uses" [(ngModel)]="medicines.uses">

  <label for="price">Price</label>
  <input type="text" class="form-control" id="price" placeholder="price" name="price" [(ngModel)]="medicines.price">

  <label for="expDate">Expiry Date</label>
  <input type="text" class="form-control" id="expDate" placeholder="expDate" name="expDate" [(ngModel)]="medicines.expDate">

  <label for="createDate">Created Date</label>
  <input type="text" class="form-control" id="createDate" placeholder="createDate" name="createDate" [(ngModel)]="medicines.createDate">

  <label for="companyName">Company Name</label>
  <input type="text" class="form-control" id="companyName" placeholder="companyName" name="companyName" [(ngModel)]="medicines.companyName">


    <br>
    <input type="file" (change)="onFileChanged($event)">
    <img [src]="imgURL" height="200" width="200" *ngIf="imgURL">

  <br>
  <button type="button" class="btn btn-success" (click)="saveMedicine()">Save</button>
</form>
