<h1>Add User</h1>
<form #recievedUser="ngForm">

  <label for="name">Name</label>
  <input type="text" class="form-control" id="name" placeholder="user name" [(ngModel)]="user.name" name="name">

  <label for="type">Email</label>
  <input type="text" class="form-control" id="email" placeholder="user email" [(ngModel)]="user.email" name="email">

  <label for="password">Username</label>
  <input type="password" class="form-control" id="username" placeholder="username" [(ngModel)]="user.username" name="username">

  <label for="password">Password</label>
  <input type="password" class="form-control" id="password" placeholder="password" [(ngModel)]="user.password" name="password">

  <label for="password">Address</label>
  <input type="password" class="form-control" id="address" placeholder="address" [(ngModel)]="user.address" name="address">

   <br>
  <button type="button" class="btn btn-success" (click)="addUser()">Save</button>
</form>